body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
h3{
    color: blanchedalmond;
}
span{
    color: orangered;
}
.compatible{
    display: flex;
    margin-bottom: 60px;

}
.first-part{
    width: 40%;
    padding: 8%;
}
.first-part img{
    width: 60%;
    padding-left: 30%;
}
.link-button{
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(orange,orangered);
    color: white;
    font-weight: 700;
}
#background{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;   
}
.add-recipe{
   width: 32%;
   height: auto;
   margin-left: 3%;
   margin-right: 3%;
   padding: 1%;
   border-radius: 20px;
   box-shadow: 10px 10px 30px grey;
}
.add-recipe img{
    width: 100%;
    border-radius: 10px;
}
.modify{
    background-color: black;
    text-align: center;
    padding: 10px 10px 100px;
}
.color{
    color: grey;
}